.slider {
    width: 100%;
    appearance: none;
    height: 8px;
    background: #ddd;
    border-radius: 4px;
    outline: none;
    transition: 0.2s;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 18px;
    height: 18px;
    background: #002060;
    border-radius: 50%;
    cursor: pointer;
}

.slider-value {
    font-weight: bold;
    color: #002060;
    margin-left: 10px;
}
